@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: #060606;
  --add-btn-width: 8rem;
  --circumference: 339.292;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100dvh;
  min-width: 100dvw;
  font-family: 'Montserrat';
  color: #060606;
  font-size: 1.2rem;

  background: #1b3966;
  background: linear-gradient(
    4deg,
    rgba(27, 57, 102, 1) 0%,
    rgba(137, 111, 166, 1) 84%
  );
  background-size: cover;
}

ul {
  list-style: none;
}

.container-app {
  min-height: 100dvh;
  // background-color: rgba(255, 255, 255, 0.126);
  margin: 0 auto;
  max-width: 50rem;
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.title {
  color: #ffffff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.126);
  padding: 2rem;
  margin-bottom: 2rem;
}

.heading {
  margin-bottom: 1rem;
}

.add-form {
  // background-color: rgba(255, 255, 255, 0.126);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;

  box-shadow: 0.2rem 0.2rem 3rem rgba(0, 0, 0, 0.2);
  &__add-box {
    position: relative;
  }

  &__input {
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 1rem;
    background-color: #ebebeb;
    padding-right: calc(var(--add-btn-width) + 10px);
    box-shadow: 0.2rem 0.2rem 3rem rgba(0, 0, 0, 0.2);
  }

  &__btn {
    font-family: inherit;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--add-btn-width);
    border: none;
    background-color: #ebebeb;
    background-color: transparent;
    // border-left: 1px solid #060606;
    border-radius: 15px;
    padding: 0.6rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #4c91af;
  }
}

.todo-section {
  margin-bottom: 2rem;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item {
  display: flex;
  align-items: center;
  font-size: 1.6rem;

  font-weight: 400;
  padding: 1rem;
  backdrop-filter: blur(20px);
  box-shadow: 0.2rem 0.2rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;

  &__checkbox {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 2px solid #9aa4b3;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;

    &:checked {
      background-color: #4c91af;
      border-color: #4c91af;
    }

    &:checked::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.9rem;
      height: 0.9rem;
      background: #fff;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__input {
    // width: 0;
    display: none;
    border: none;
    font-size: inherit;
    transition: width 0.3s;
  }

  &__note {
    display: block;
    margin: 0 1rem;
  }

  &--edit {
    .list-item__input {
      width: 100%;
      display: inline-block;
      margin-right: 1rem;
      padding: 0.3rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      border-radius: 5px;
    }
    .list-item__checkbox {
      display: none;
    }
    .list-item__note {
      display: none;
    }
  }
}

.btn--edit {
  margin-left: auto;
}

.completed-section {
  & .list-item__note {
    text-decoration: line-through;
  }
}

.stats {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  // gap: 0.4rem;
  font-size: 1.6rem;
  &__info {
    font-weight: 300;
    font-size: 1.3rem;
    align-self: center;

    & p:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.progress-ring {
  transform: rotate(-90deg);
  position: relative;
  z-index: 1;

  &__bg {
    fill: none;
    stroke: #eee;
    stroke-width: 7;
  }

  &__value {
    fill: none;
    stroke: #51ce55;
    stroke-width: 12;
    stroke-linecap: round;
    stroke-dasharray: var(--circumference); /* длина окружности (2 * π * r) */
    stroke-dashoffset: calc(
      var(--circumference) - (var(--circumference) * 0.65)
    ); /* 65% прогресса */
    transition: stroke-dashoffset 0.4s ease;
  }

  &__text {
    font-size: 2rem;
    fill: inherit;
    font-weight: 600;
    text-anchor: middle;
    dominant-baseline: middle;
    transform: rotate(90, 60, 60);
  }
}

.text-center {
  text-align: center;
}
